{% extends 'auth_index.html' %}


{% block content %}
  <main class="main-settings-messages">
    <div class="popup main-settings-profile__pass">
      <div class="popup__bgd"></div>
      <div class="popup__content">
        <div class="content__head"><span>Изменить пароль</span>
          <svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g opacity="0.5">
              <path d="M15.5143 13.2734L20.1105 17.8696L18.5785 19.4017L13.9823 14.8055L9.38607 19.4017L7.85401 17.8696L12.4502 13.2734L7.85401 8.67724L9.38607 7.14518L13.9823 11.7414L18.5785 7.14518L20.1105 8.67724L15.5143 13.2734Z" fill="white" />
            </g>
          </svg>
        </div>
        <div class="content__body">
          <label>
            <p>Адрес электронной почты</p>
            <input type="text" placeholder="mail.mail@gmail.com">
          </label>
          <label>
            <p>Новый пароль</p>
            <input type="text" placeholder="Введите новый пароль">
          </label>
          <label>
            <p>Подтверждение нового пароля</p>
            <input type="text" placeholder="Введите новый пароль ещё раз">
          </label>
          <div class="buttons">
            <button class="popup__button popup__close">Отменить</button>
            <button class="popup__button popup__link">Сохранить</button>
          </div>
        </div>
      </div>
    </div>
    <div class="popup main-settings-profile__mail">
      <div class="popup__bgd"></div>
      <div class="popup__content">
        <div class="content__head"><span>Изменить адрес электронной почты</span>
          <svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g opacity="0.5">
              <path d="M15.5143 13.2734L20.1105 17.8696L18.5785 19.4017L13.9823 14.8055L9.38607 19.4017L7.85401 17.8696L12.4502 13.2734L7.85401 8.67724L9.38607 7.14518L13.9823 11.7414L18.5785 7.14518L20.1105 8.67724L15.5143 13.2734Z" fill="white" />
            </g>
          </svg>
        </div>
        <div class="content__body">
          <label>
            <p>Адрес электронной почты</p>
            <input type="text" placeholder="mail.mail@gmail.com">
          </label>
          <label>
            <p>Пароль</p>
            <input type="text" placeholder="Введите пароль">
          </label>
          <p class="inf">В целях безопасности при изменении адреса электронной почты сохраненные данные о кредитной карте будут удалены.</p>
          <div class="buttons">
            <button class="popup__button popup__close">Отменить</button>
            <button class="popup__button popup__link">Сохранить</button>
          </div>
        </div>
      </div>
    </div>
    <ul class="main-settings__top">
      <li><a href="settings.html">Настройки профиля</a>
      </li>
      <li class="li_active"><a href="settings-profile.html">Учетная запись</a>
      </li>
      <li><a href="settings-payments.html">Настройка выплаты</a>
      </li>
      <li><a href="settings-instruments.html">Инструменты</a>
      </li>
    </ul>
    <div class="main-settings-profile__block">
      <ul class="main-settings-profile__menu">
        <li><a href="{% url 'account' %}">Безопасность учетной записи</a>
        </li>
        <li><a href="{% url 'account_notations' %}">Настройки уведомлений</a>
        </li>
        <li class="li_active"><a href="{% url 'account_messages' %}">Настройки сообщений</a>
        </li>
        <li><a href="{% url 'account_close' %}">Закрыть учетную запись</a>
        </li>
      </ul>
      <div class="main-settings-profile__rht">
        <div class="checkbox-block">
          <input type="checkbox" id="ch1-1">
          <label for="ch1-1">Отключить отправку/получение личных сообщений</label>
          <p>После отключения отправки личных сообщений вы больше не сможете отправлять и получать личные сообщения от преподавателей.</p>
        </div>
        <button class="settings__save" type="submit">Сохранить</button>
      </div>
    </div>
  </main>
{% endblock %}