{% extends 'index.html' %}
{% load static i18n %}


{% block title %}Помощь{% endblock %}
{% block content %}
<a id="totopbutton"></a>

<!-- Header end's --><div class="">  <!-- breadcrambs     -->

    <div class="col-md-12 breadcrumbs">

    <a class="breadcrumb-item" href="{% url 'homepage' %}">{% trans 'Home' %}</a><i class="fas fa-chevron-right"></i><a class="breadcrumb-item" href="{% url 'help' %}">{% trans 'Help' %}</a>
     
    </div>

</div> <!--  breadcrambs end's  -->
    <main class="pages-other">
      <section class="help-block1">
        <div class="wrapper">
          <h1>{% trans 'How can we help you?' %}</h1>
          <form action="#">
            <input type="text" placeholder="Write a question or problem">
          </form>
          <div class="switch-block">
            <div class="switch-block__item">{% trans 'Студент' %}</div>
            <div class="switch-block__item switch-block__item_active">{% trans 'Преподаватель' %}</div>
          </div>
        </div>
      </section>
      <section class="help-switch">
        <div class="wrapper">
          <div class="help-switch__block help-switch__block_1">
            <div class="help-block2 review">
              <h2>{% trans 'Popular questions1' %}</h2>
<div class="row home-faq">

  <div class="col-md-6 faq-left">

    <!--     faq question -->

    <div class="details-item">
      <summary>{% trans 'Who are our users?' %}</summary>
      <div class="faq__content">
        <p>{% trans 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor suscipit, iure tenetur eveniet, vero tempore delectus? Perferendis, quisquam ullam consequuntur?' %}</p>
      </div>
    </div>

    <!--   faq question -->

    <div class="details-item">
      <summary>{% trans 'Вопрос номер один' %}</summary>
      <div class="faq__content">
        <p>{% trans 'Fugiat quo voluptas nulla pariatur? Et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque. Accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo.' %}</p>
      </div>
    </div>

    <!--   faq question -->  

    <div class="details-item">
      <summary>{% trans 'How can I invest in Cryptochip?' %}</summary>
      <div class="faq__content">
        <p>{% trans 'Fugiat quo voluptas nulla pariatur? Et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque. Accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo.' %}</p>
      </div>
    </div>

    <!--   faq questions end's -->

  </div>

  <!--   faq left end's -->


  <div class="col-md-6 faq-right">

    <!--     faq question -->

    <div class="details-item">
      <summary>{% trans 'What does the platform specialize in?' %}</summary>
      <div class="faq__content">
        <p>{% trans 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor suscipit, iure tenetur eveniet, vero tempore delectus? Perferendis, quisquam ullam consequuntur?' %}</p>
      </div>
    </div>

    <!--   faq question -->

    <div class="details-item">
      <summary>{% trans 'How can I earn money with Cryptochip app?' %}</summary>
      <div class="faq__content">
        <p>{% trans 'Fugiat quo voluptas nulla pariatur? Et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque. Accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo.' %}</p>
      </div>
    </div>

    <!--   faq question -->  

    <div class="details-item">
      <summary>{% trans 'How to see your news?' %}</summary>
      <div class="faq__content">
        <p>{% trans 'Fugiat quo voluptas nulla pariatur? Et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque. Accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo.' %}</p>
      </div>
    </div>

    <!--   faq questions end's -->

  </div>
</div>
            </div>
            <div class="help-block3 community">
              <div class="community__sides">
                <div class="sides__lft">
                  <h2>{% trans 'Сообщество преподавателей' %}</h2>
                  <p>{% trans 'Делитесь своими успехами и задавайте вопросы другим преподавателям в нашем сообществе.' %}</p>
                </div>
                <div class="sides__rht"><a href="#"><span>Вступить</span><svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M9.4174 14.4995L9.0204 20.6418C9.58841 20.6418 9.83441 20.3734 10.1294 20.0511L12.7925 17.2517L18.3106 21.6967C19.3226 22.3171 20.0357 21.9904 20.3087 20.6726L23.9308 2.00354L23.9318 2.00244C24.2528 0.356844 23.3907 -0.286652 22.4047 0.117045L1.1142 9.0831C-0.33883 9.7035 -0.31683 10.5945 0.867199 10.9982L6.31033 12.8605L18.9536 4.15842C19.5486 3.72503 20.0897 3.96483 19.6446 4.39822L9.4174 14.4995Z" fill="#4491FF"/>
</svg></a></div>
              </div>
            </div>
            <div class="help-block4">
              <h2>{% trans 'Select a topic to search for help' %}</h2>
              <div class="help-block4__block">
                <div class="help-block4__item">
                  <h3>{% trans 'Instructor Payments' %}</h3>
                  <p>{% trans 'Understand the revenue share and how to receive payments.' %}</p><svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
<path opacity="0.1" d="M11.8594 10.1406V0H10.1406V10.1406H0V11.8594H10.1406V22H11.8594V11.8594H22V10.1406H11.8594Z" fill="white"/>
</svg>
                </div>
                <div class="help-block4__item">
                  <h3>{% trans 'Instructor Payments' %}</h3>
                  <p>{% trans 'Understand the revenue share and how to receive payments.' %}</p><svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
<path opacity="0.1" d="M11.8594 10.1406V0H10.1406V10.1406H0V11.8594H10.1406V22H11.8594V11.8594H22V10.1406H11.8594Z" fill="white"/>
</svg>
                </div>
                <div class="help-block4__item">
                  <h3>Instructor Payments</h3>
                  <p>Understand the revenue share and how to receive payments.</p><svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
<path opacity="0.1" d="M11.8594 10.1406V0H10.1406V10.1406H0V11.8594H10.1406V22H11.8594V11.8594H22V10.1406H11.8594Z" fill="white"/>
</svg>
                </div>
                <div class="help-block4__item">
                  <h3>{% trans 'Instructor Payments' %}</h3>
                  <p>{% trans 'Understand the revenue share and how to receive payments.' %}</p><svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
<path opacity="0.1" d="M11.8594 10.1406V0H10.1406V10.1406H0V11.8594H10.1406V22H11.8594V11.8594H22V10.1406H11.8594Z" fill="white"/>
</svg>
                </div>
                <div class="help-block4__item">
                  <h3>{% trans 'Instructor Payments' %}</h3>
                  <p>{% trans 'Understand the revenue share and how to receive payments.' %}</p><svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
<path opacity="0.1" d="M11.8594 10.1406V0H10.1406V10.1406H0V11.8594H10.1406V22H11.8594V11.8594H22V10.1406H11.8594Z" fill="white"/>
</svg>
                </div>
                <div class="help-block4__item">
                  <h3>{% trans 'Instructor Payments' %}</h3>
                  <p>{% trans 'Understand the revenue share and how to receive payments.' %}</p><svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
<path opacity="0.1" d="M11.8594 10.1406V0H10.1406V10.1406H0V11.8594H10.1406V22H11.8594V11.8594H22V10.1406H11.8594Z" fill="white"/>
</svg>
                </div>
              </div>
            </div>
          </div>
          <div class="help-switch__block help-switch__block_2">
            <div class="help-block2 review">
              <h2>{% trans 'Popular questions2' %}</h2>
<div class="row home-faq">

  <div class="col-md-6 faq-left">

    <!--     faq question -->

    <div class="details-item">
      <summary>{% trans 'Who are our users?' %}</summary>
      <div class="faq__content">
        <p>{% trans 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor suscipit, iure tenetur eveniet, vero tempore delectus? Perferendis, quisquam ullam consequuntur?' %}</p>
      </div>
    </div>

    <!--   faq question -->

    <div class="details-item">
      <summary>{% trans 'How can I buy a course?' %}</summary>
      <div class="faq__content">
        <p>{% trans 'Fugiat quo voluptas nulla pariatur? Et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque. Accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo.' %}</p>
      </div>
    </div>

    <!--   faq question -->  

    <div class="details-item">
      <summary>{% trans 'How can I invest in Cryptochip?' %}</summary>
      <div class="faq__content">
        <p>{% trans 'Fugiat quo voluptas nulla pariatur? Et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque. Accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo.' %}</p>
      </div>
    </div>

    <!--   faq questions end's -->

  </div>

  <!--   faq left end's -->


  <div class="col-md-6 faq-right">

    <!--     faq question -->

    <div class="details-item">
      <summary>{% trans 'What does the platform specialize in?' %}</summary>
      <div class="faq__content">
        <p>{% trans 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor suscipit, iure tenetur eveniet, vero tempore delectus? Perferendis, quisquam ullam consequuntur?' %}</p>
      </div>
    </div>

    <!--   faq question -->

    <div class="details-item">
      <summary>{% trans 'How can I earn money with Cryptochip app?' %}</summary>
      <div class="faq__content">
        <p>{% trans 'Fugiat quo voluptas nulla pariatur? Et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque. Accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo.' %}</p>
      </div>
    </div>

    <!--   faq question -->  

    <div class="details-item">
      <summary>{% trans 'How to see your news?' %}</summary>
      <div class="faq__content">
        <p>{% trans 'Fugiat quo voluptas nulla pariatur? Et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque. Accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo.' %}</p>
      </div>
    </div>

    <!--   faq questions end's -->

  </div>
</div>
            </div>
            <div class="help-block3 community">
              <div class="community__sides">
                <div class="sides__lft">
                  <h2>{% trans 'Сообщество преподавателей' %}</h2>
                  <p>{% trans 'Делитесь своими успехами и задавайте вопросы другим преподавателям в нашем сообществе.' %}</p>
                </div>
                <div class="sides__rht"><a href="#"><span>Вступить</span><svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M9.4174 14.4995L9.0204 20.6418C9.58841 20.6418 9.83441 20.3734 10.1294 20.0511L12.7925 17.2517L18.3106 21.6967C19.3226 22.3171 20.0357 21.9904 20.3087 20.6726L23.9308 2.00354L23.9318 2.00244C24.2528 0.356844 23.3907 -0.286652 22.4047 0.117045L1.1142 9.0831C-0.33883 9.7035 -0.31683 10.5945 0.867199 10.9982L6.31033 12.8605L18.9536 4.15842C19.5486 3.72503 20.0897 3.96483 19.6446 4.39822L9.4174 14.4995Z" fill="#4491FF"/>
</svg></a></div>
              </div>
            </div>
            <div class="help-block4">
              <h2>{% trans 'Select a topic to search for help' %}</h2>
              <div class="help-block4__block">
                <div class="help-block4__item">
                  <h3>{% trans 'Instructor Payments' %}</h3>
                  <p>Understand the revenue share and how to receive payments.</p><svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
<path opacity="0.1" d="M11.8594 10.1406V0H10.1406V10.1406H0V11.8594H10.1406V22H11.8594V11.8594H22V10.1406H11.8594Z" fill="white"/>
</svg>
                </div>
                <div class="help-block4__item">
                  <h3>{% trans 'Instructor Payments' %}</h3>
                  <p>{% trans 'Understand the revenue share and how to receive payments.' %}</p><svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
<path opacity="0.1" d="M11.8594 10.1406V0H10.1406V10.1406H0V11.8594H10.1406V22H11.8594V11.8594H22V10.1406H11.8594Z" fill="white"/>
</svg>
                </div>
                <div class="help-block4__item">
                  <h3>{% trans 'Instructor Payments' %}</h3>
                  <p>{% trans 'Understand the revenue share and how to receive payments.' %}</p><svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
<path opacity="0.1" d="M11.8594 10.1406V0H10.1406V10.1406H0V11.8594H10.1406V22H11.8594V11.8594H22V10.1406H11.8594Z" fill="white"/>
</svg>
                </div>
                  <div class="help-block4__item">
                  <h3>{% trans 'Instructor Payments' %}</h3>
                  <p>{% trans 'Understand the revenue share and how to receive payments.' %}</p><svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
<path opacity="0.1" d="M11.8594 10.1406V0H10.1406V10.1406H0V11.8594H10.1406V22H11.8594V11.8594H22V10.1406H11.8594Z" fill="white"/>
</svg>
                </div>
                <div class="help-block4__item">
                  <h3>{% trans 'Instructor Payments' %}</h3>
                  <p>{% trans 'Understand the revenue share and how to receive payments.' %}</p><svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
<path opacity="0.1" d="M11.8594 10.1406V0H10.1406V10.1406H0V11.8594H10.1406V22H11.8594V11.8594H22V10.1406H11.8594Z" fill="white"/>
</svg>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
{% endblock %}