extends header.pug

block content

    include breadcrumbs.html
    main.pages-other


        section.about-block1
            .wrapper
                h1 О CryptoChip
                .next-page__mob.block-mob
                    //- a(href="#")
                    //-     span География студентов
                    //-     <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    //-         <path d="M8 6L14 6L14 8L8 8L8 14L6 14L6 8L-2.62268e-07 8L-3.49691e-07 6L6 6L6 -2.62268e-07L8 -3.49691e-07L8 6Z" fill="#A5E7E3"/>
                    //-     </svg>
                    //- a(href="#")
                    //-     span Отзывы
                    //-     <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    //-         <path d="M8 6L14 6L14 8L8 8L8 14L6 14L6 8L-2.62268e-07 8L-3.49691e-07 6L6 6L6 -2.62268e-07L8 -3.49691e-07L8 6Z" fill="#A5E7E3"/>
                    //-     </svg>
                    //- a(href="#")
                    //-     span Контакты
                    //-     <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    //-         <path d="M8 6L14 6L14 8L8 8L8 14L6 14L6 8L-2.62268e-07 8L-3.49691e-07 6L6 6L6 -2.62268e-07L8 -3.49691e-07L8 6Z" fill="#A5E7E3"/>
                    //-     </svg>
                nav.pages-nav
                    ul
                        li.li_active
                            a(href="#") О проекте
                        li
                            a(href="#") География студентов
                        li
                            a(href="#") Отзывы
                        li
                            a(href="#") Контакты
                p Миссия CryptoChip — дать возможность каждому быть актуальным и востребованным специалистом прямо сейчас. Вне зависимости от возраста и географии.
                .block1__video
                    img( src="img/about-bl1.png" alt="Photo")
                    .video__text
                        .video__play
                            <svg width="17" height="22" viewBox="0 0 17 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 22L17 11L0 0V22Z" fill="#04B8AD"/>
                            </svg>
                        p Время просмотра — 5 минут
        section.about-block2
            .wrapper
                .block2__sides
                    .sides__lft
                        .lft__item
                            b 268
                            p образовательных программ
                        .lft__item
                            b 350
                            p преподавателей
                        .lft__item
                            b 32 500
                            p студентов
                    .sides__rht
                        p Миссия CryptoChip — дать возможность каждому быть актуальным и востребованным специалистом прямо сейчас. Вне зависимости от возраста и географии.
        section.about-block3
            .sphere.sphere1
                img( src="img/sphere1.png" alt="Photo" width="190")
            .sphere.sphere2
                img( src="img/sphere1.png" alt="Photo" width="112")
            .wrapper
                h2 Как мы учим
                ol
                    li
                        h3 Учитесь по утрам, вечером после работы или между
                        p Все лекции записаны заранее и круглосуточно доступны в личном кабинете
                    li
                        h3 Все преподаватели CryptoChip — признанные профессионалы в своей области
                        p Все лекции записаны заранее и круглосуточно доступны в личном кабинете
                    li
                        h3 Все задания основаны на реальных кейсах
                        p Домашние задания станут основой вашего портфолио
        section.about-block4
            .wrapper
                h2 Нас уже <span>238</span> и мы работаем <br />для увеличения <span>качества</span> вашего <span>образования</span>
                .block4__block
                    .block4__item
                        img( src="img/bl4-1.png" alt="Photo")
                        h3 Илья Фофанов
                        small Основатель и генеральный директор
                    .block4__item
                        img( src="img/bl4-2.png" alt="Photo")
                        h3 Илья Фофанов
                        small Основатель и генеральный директор
                    .block4__item
                        img( src="img/bl4-3.png" alt="Photo")
                        h3 Илья Фофанов
                        small Основатель и генеральный директор
        section.about-block5
            .wrapper
                h2 268 <span>профессий и курсов по разным направлениям. Вы сможете найти то, что подходит вам.</span>
                .about__slider
                    .slider__block
                        a(href="#").slider__item Open Banking
                        a(href="#").slider__item Digital Strategy
                        a(href="#").slider__item Innovations
                        a(href="#").slider__item Financial Technology
                        a(href="#").slider__item Financial Services
                        a(href="#").slider__item Open Banking
                        a(href="#").slider__item Digital Strategy
                        a(href="#").slider__item Innovations
                        a(href="#").slider__item Innovations
                        a(href="#").slider__item Financial Technology
                        a(href="#").slider__item Math
                        a(href="#").slider__item Coding Coaching
                        a(href="#").slider__item Data science
                        a(href="#").slider__item Business Ecosystem
                        a(href="#").slider__item Crowdfunding
                        a(href="#").slider__item Peer-To-Peer Lending
                        a(href="#").slider__item Design
                        a(href="#").slider__item Marketing
                        a(href="#").slider__item Economics
                        a(href="#").slider__item Marketing
                        a(href="#").slider__item Open Banking
                        a(href="#").slider__item Digital Strategy
                        a(href="#").slider__item Innovations
                        a(href="#").slider__item Financial Technology
                        a(href="#").slider__item Financial Services
                        a(href="#").slider__item Open Banking
                        a(href="#").slider__item Digital Strategy
                        a(href="#").slider__item Innovations
                        a(href="#").slider__item Financial Technology
                        a(href="#").slider__item Open Banking
                        a(href="#").slider__item Digital Strategy
                        a(href="#").slider__item Innovations
                        a(href="#").slider__item Financial Technology
                        a(href="#").slider__item Financial Services
                        a(href="#").slider__item Open Banking
                        a(href="#").slider__item Digital Strategy
                        a(href="#").slider__item Innovations
                        a(href="#").slider__item Innovations
                        a(href="#").slider__item Financial Technology
                        a(href="#").slider__item Math
                        a(href="#").slider__item Coding Coaching
                        a(href="#").slider__item Data science
                        a(href="#").slider__item Business Ecosystem
                        a(href="#").slider__item Crowdfunding
                        a(href="#").slider__item Peer-To-Peer Lending
                        a(href="#").slider__item Design
                        a(href="#").slider__item Marketing
                        a(href="#").slider__item Economics
                        a(href="#").slider__item Marketing
                        a(href="#").slider__item Open Banking
                        a(href="#").slider__item Digital Strategy
                        a(href="#").slider__item Innovations
                        a(href="#").slider__item Financial Technology
                        a(href="#").slider__item Financial Services
                        a(href="#").slider__item Open Banking
                        a(href="#").slider__item Digital Strategy
                        a(href="#").slider__item Innovations
                        a(href="#").slider__item Financial Technology
                        a(href="#").slider__item Open Banking
                        a(href="#").slider__item Digital Strategy
                        a(href="#").slider__item Innovations
                        a(href="#").slider__item Financial Technology
                        a(href="#").slider__item Financial Services
                        a(href="#").slider__item Open Banking
                        a(href="#").slider__item Digital Strategy
                        a(href="#").slider__item Innovations
                        a(href="#").slider__item Innovations
                        a(href="#").slider__item Financial Technology
                        a(href="#").slider__item Math
                        a(href="#").slider__item Coding Coaching
                        a(href="#").slider__item Data science
                        a(href="#").slider__item Business Ecosystem
                        a(href="#").slider__item Crowdfunding
                        a(href="#").slider__item Peer-To-Peer Lending
                        a(href="#").slider__item Design
                        a(href="#").slider__item Marketing
                        a(href="#").slider__item Economics
                        a(href="#").slider__item Marketing
                        a(href="#").slider__item Open Banking
                        a(href="#").slider__item Digital Strategy
                        a(href="#").slider__item Innovations
                        a(href="#").slider__item Financial Technology
                        a(href="#").slider__item Financial Services
                        a(href="#").slider__item Open Banking
                        a(href="#").slider__item Digital Strategy
                        a(href="#").slider__item Innovations
                        a(href="#").slider__item Financial Technology
                .slider__more
                    span See more
                .slider__list.block-mob Список курсов

        section.next-page
            .wrapper
                p Следующий раздел
                a(href="#").next-page__text География студентов
                .next-page__mob.block-mob
                    a(href="#")
                        span География студентов
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8 6L14 6L14 8L8 8L8 14L6 14L6 8L-2.62268e-07 8L-3.49691e-07 6L6 6L6 -2.62268e-07L8 -3.49691e-07L8 6Z" fill="#A5E7E3"/>
                        </svg>
                    a(href="#")
                        span Отзывы
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8 6L14 6L14 8L8 8L8 14L6 14L6 8L-2.62268e-07 8L-3.49691e-07 6L6 6L6 -2.62268e-07L8 -3.49691e-07L8 6Z" fill="#A5E7E3"/>
                        </svg>
                    a(href="#")
                        span Контакты
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8 6L14 6L14 8L8 8L8 14L6 14L6 8L-2.62268e-07 8L-3.49691e-07 6L6 6L6 -2.62268e-07L8 -3.49691e-07L8 6Z" fill="#A5E7E3"/>
                        </svg>




    include footer.pug