include footer.html

script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
script(src="https://kit.fontawesome.com/7de816dd84.js" crossorigin="anonymous")
script(src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous")
script(src="js/jquery.arctext.js" defer)
script(src="js/slick.min.js")
script(src="js/main.js")