<!-- jQuery JS -->
//- script(src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous")

<!-- slick JS -->
//- script(src="js/slick.min.js")

<!-- wow JS -->
script(src="js/wow.min.js")

<!-- main JS -->
script(src="js/main.js")































	