extends header.pug

block content

	main.main-index
		h1 Привет, 
			b Иван
		.index-block1
			.sides
				.lft
					h2 Создайте свой первый курс уже сейчас!
					a(href="planning-course.html").btn-v1 Начать создание курса
				.rht
					img(data-src="img/main-1.png" alt="Photo" width="448")
		.index-block2
			.index-block2__item.index-block2__item_1
				.item__text
					h3 Как создать привлекательный курс?
					button.btn-v2 Смотреть
				img(data-src="img/index2-1.png" alt="Photo")
			.index-block2__item.index-block2__item_2
				.item__text
					h3 Повысьте качество ваших видео
					button.btn-v2 Смотреть
				img(data-src="img/index2-2.png" alt="Photo")
			.index-block2__item.index-block2__item_3
				.item__text
					h3 Соберите собственную аудиторию
					button.btn-v2 Смотреть
				img(data-src="img/index2-3.png" alt="Photo")
		.index-block3
			h3 <b>Есть вопросы?</b> Вот самые популярные среди преподавателей ресурсы
			.index-block3__block
				a(href="#").index-block3__item
					span Проверка видео
					<svg width="8" height="15" viewBox="0 0 8 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.999999 1L7 7.5L1 14" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
				a(href="#").index-block3__item
					span Сообщество преподавателей
					<svg width="8" height="15" viewBox="0 0 8 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.999999 1L7 7.5L1 14" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
				a(href="#").index-block3__item
					span Teaching Center
					<svg width="8" height="15" viewBox="0 0 8 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.999999 1L7 7.5L1 14" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
				a(href="#").index-block3__item
					span Аналитика торговой площадки
					<svg width="8" height="15" viewBox="0 0 8 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.999999 1L7 7.5L1 14" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
				a(href="#").index-block3__item
					span Справка и поддержка
					<svg width="8" height="15" viewBox="0 0 8 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.999999 1L7 7.5L1 14" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>


	include footer.pug



























	