extends header.pug

block content

	main.main-settings
		ul.main-settings__top
			li.li_active
				a(href="settings.html") Настройки профиля
			li
				a(href="settings-profile.html") Учетная запись
			li
				a(href="settings-payments.html") Настройка выплаты
			li
				a(href="settings-instruments.html") Инструменты
		form(action="#").main-settings__block
			.main-settings__item
				h2 Аватар
				.item__avatar
					img(src="img/avatar.jpg" lat="Photo")
				.item__load-photo
					input(type="file")#filePhoto1
					label(for="filePhoto1") Загрузить новое фото
					.i
						<svg width="4" height="12" viewBox="0 0 4 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.945012 1.42695C0.945012 2.00535 1.41421 2.47695 1.98901 2.47695C2.58061 2.47695 3.05101 2.00535 3.05101 1.42695C3.05101 0.848553 2.58061 0.376953 2.00101 0.376953C1.41901 0.376953 0.945012 0.848553 0.945012 1.42695ZM3.04141 5.23442C3.04141 4.65602 2.56981 4.18442 1.99141 4.18442C1.41301 4.18442 0.941406 4.65602 0.941406 5.23442V10.5384C0.941406 11.1168 1.41301 11.5884 1.99141 11.5884C2.56981 11.5884 3.04141 11.1168 3.04141 10.5384V5.23442Z" fill="white"/></svg>
						.i__block Минимум 200x200px, <br />максимум 6000х6000px
				.item__delete-photo Удалить текущее фото
				.item__konf
					h2 Конфиденциальность
					.ch-inp
						input(type="checkbox")#rd1
						label(for="rd1") Показывать свой профиль пользователям в системе
					.ch-inp
						input(type="checkbox")#rd2
						label(for="rd2") Показывать в моем профиле курсы, которые я прохожу
			.main-settings__item
				h2 Общая информация
				.form__block
					.inputs
						label
							p Имя
							input(type="text" placeholder="Иван")
						label
							p Фамилия
							input(type="text" placeholder="Иванов")
					label
						p Основная компетенция
						input(type="text" placeholder="“Инженер”, “Разработчик” и т.д.")
					label
						.p
							span Биография
							.i
								<svg width="4" height="12" viewBox="0 0 4 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.945012 1.42695C0.945012 2.00535 1.41421 2.47695 1.98901 2.47695C2.58061 2.47695 3.05101 2.00535 3.05101 1.42695C3.05101 0.848553 2.58061 0.376953 2.00101 0.376953C1.41901 0.376953 0.945012 0.848553 0.945012 1.42695ZM3.04141 5.23442C3.04141 4.65602 2.56981 4.18442 1.99141 4.18442C1.41301 4.18442 0.941406 4.65602 0.941406 5.23442V10.5384C0.941406 11.1168 1.41301 11.5884 1.99141 11.5884C2.56981 11.5884 3.04141 11.1168 3.04141 10.5384V5.23442Z" fill="white"/></svg>
								.i__block Биография должна содержать минимум 50 символов; приводить ссылки и коды купонов запрещено.
						textarea(type="text" placeholder="“Инженер”, “Разработчик” и т.д.")
					label
						p Язык
						.select
							.select__head
								span Русский
								<svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.9167 0.995183L5.96074 5.95592L1 1" stroke="white" stroke-linecap="round" stroke-linejoin="round"/></svg>
							ul.select__body
								li Русский
								li NeРусский
					label
						p Местоположение
						.select
							.select__head
								span Русский
								<svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.9167 0.995183L5.96074 5.95592L1 1" stroke="white" stroke-linecap="round" stroke-linejoin="round"/></svg>
							ul.select__body
								li Русский
								li NeРусский
			.main-settings__item
				h2 Социальные сети
				.form__block
					label
						p Сайт
						input(type="text" placeholder="https://www.udemy.com/")
					ul.item__socials
						li
							<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"><path opacity="0.2" d="M23.5195 5H6.47656C5.66016 5 5 5.64453 5 6.44141V23.5547C5 24.3516 5.66016 25 6.47656 25H23.5195C24.3359 25 25 24.3516 25 23.5586V6.44141C25 5.64453 24.3359 5 23.5195 5ZM10.9336 22.043H7.96484V12.4961H10.9336V22.043ZM9.44922 11.1953C8.49609 11.1953 7.72656 10.4258 7.72656 9.47656C7.72656 8.52734 8.49609 7.75781 9.44922 7.75781C10.3984 7.75781 11.168 8.52734 11.168 9.47656C11.168 10.4219 10.3984 11.1953 9.44922 11.1953ZM22.043 22.043H19.0781V17.4023C19.0781 16.2969 19.0586 14.8711 17.5352 14.8711C15.9922 14.8711 15.7578 16.0781 15.7578 17.3242V22.043H12.7969V12.4961H15.6406V13.8008H15.6797C16.0742 13.0508 17.043 12.2578 18.4844 12.2578C21.4883 12.2578 22.043 14.2344 22.043 16.8047V22.043V22.043Z" fill="white"/></svg>
							p LinkedIn
							button Связать
						li
							<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"><g opacity="0.2"><path d="M15.0059 6.80113C17.6793 6.80113 17.9959 6.81285 19.0473 6.85974C20.0244 6.90272 20.5521 7.06681 20.9038 7.20356C21.369 7.38328 21.7051 7.60207 22.053 7.9498C22.4047 8.30143 22.6197 8.63352 22.7995 9.09846C22.9363 9.45009 23.1004 9.98144 23.1434 10.9543C23.1903 12.0092 23.2021 12.3257 23.2021 14.9941C23.2021 17.6665 23.1903 17.983 23.1434 19.034C23.1004 20.0107 22.9363 20.5382 22.7995 20.8898C22.6197 21.3548 22.4008 21.6908 22.053 22.0385C21.7012 22.3901 21.369 22.605 20.9038 22.7847C20.5521 22.9215 20.0205 23.0856 19.0473 23.1285C17.992 23.1754 17.6754 23.1871 15.0059 23.1871C12.3324 23.1871 12.0158 23.1754 10.9644 23.1285C9.9873 23.0856 9.45964 22.9215 9.10788 22.7847C8.64276 22.605 8.30662 22.3862 7.95876 22.0385C7.607 21.6869 7.39203 21.3548 7.21223 20.8898C7.07543 20.5382 6.91128 20.0068 6.86828 19.034C6.82138 17.9791 6.80965 17.6626 6.80965 14.9941C6.80965 12.3217 6.82138 12.0053 6.86828 10.9543C6.91128 9.97753 7.07543 9.45009 7.21223 9.09846C7.39203 8.63352 7.6109 8.29752 7.95876 7.9498C8.31053 7.59816 8.64276 7.38328 9.10788 7.20356C9.45964 7.06681 9.99121 6.90272 10.9644 6.85974C12.0158 6.81285 12.3324 6.80113 15.0059 6.80113ZM15.0059 5C12.2894 5 11.9494 5.01172 10.8824 5.05861C9.81923 5.10549 9.08833 5.2774 8.45515 5.52354C7.79461 5.7814 7.23569 6.12131 6.68067 6.68002C6.12175 7.23481 5.78171 7.79351 5.52374 8.44989C5.27751 9.08674 5.10553 9.81344 5.05863 10.8761C5.01173 11.9467 5 12.2866 5 15.002C5 17.7173 5.01173 18.0572 5.05863 19.1239C5.10553 20.1866 5.27751 20.9172 5.52374 21.5501C5.78171 22.2104 6.12175 22.7691 6.68067 23.3239C7.23569 23.8787 7.79461 24.2225 8.45124 24.4765C9.08833 24.7226 9.81532 24.8945 10.8784 24.9414C11.9455 24.9883 12.2855 25 15.002 25C17.7184 25 18.0584 24.9883 19.1255 24.9414C20.1886 24.8945 20.9195 24.7226 21.5527 24.4765C22.2093 24.2225 22.7682 23.8787 23.3232 23.3239C23.8782 22.7691 24.2222 22.2104 24.4763 21.554C24.7225 20.9172 24.8945 20.1905 24.9414 19.1278C24.9883 18.0611 25 17.7212 25 15.0059C25 12.2905 24.9883 11.9506 24.9414 10.884C24.8945 9.82125 24.7225 9.09064 24.4763 8.45771C24.23 7.79351 23.89 7.23481 23.3311 6.68002C22.776 6.12522 22.2171 5.7814 21.5605 5.52745C20.9234 5.2813 20.1964 5.1094 19.1333 5.06251C18.0623 5.01172 17.7223 5 15.0059 5Z" fill="white"/><path d="M15.003 9.86328C12.1654 9.86328 9.86328 12.1645 9.86328 15.001C9.86328 17.8375 12.1654 20.1387 15.003 20.1387C17.8406 20.1387 20.1427 17.8375 20.1427 15.001C20.1427 12.1645 17.8406 9.86328 15.003 9.86328ZM15.003 18.3337C13.1621 18.3337 11.669 16.8412 11.669 15.001C11.669 13.1608 13.1621 11.6683 15.003 11.6683C16.8439 11.6683 18.337 13.1608 18.337 15.001C18.337 16.8412 16.8439 18.3337 15.003 18.3337Z" fill="white"/><path d="M21.5444 9.66086C21.5444 10.3253 21.005 10.8608 20.3445 10.8608C19.68 10.8608 19.1445 10.3214 19.1445 9.66086C19.1445 8.99641 19.6839 8.46094 20.3445 8.46094C21.005 8.46094 21.5444 9.00032 21.5444 9.66086Z" fill="white"/></g></svg>
							p Facebook
							button Связать
						li
							<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"><path opacity="0.2" d="M11.2918 23C18.8371 23 22.9652 16.4589 22.9652 10.7882C22.9652 10.6044 22.9613 10.4164 22.9535 10.2325C23.7566 9.62496 24.4496 8.87245 25 8.01031C24.2521 8.35841 23.458 8.58575 22.6449 8.68457C23.5011 8.14771 24.1421 7.30434 24.4492 6.31078C23.6438 6.81012 22.763 7.16236 21.8445 7.3524C21.2257 6.66454 20.4075 6.20909 19.5164 6.05648C18.6253 5.90386 17.711 6.06258 16.9148 6.50809C16.1186 6.9536 15.4848 7.66109 15.1115 8.52118C14.7382 9.38126 14.6462 10.346 14.8496 11.2663C13.2187 11.1807 11.6233 10.7375 10.1667 9.9655C8.71002 9.19346 7.42474 8.10981 6.39414 6.7848C5.87033 7.72956 5.71005 8.84751 5.94586 9.91145C6.18167 10.9754 6.79589 11.9055 7.66367 12.5127C7.01219 12.4911 6.37498 12.3076 5.80469 11.9774V12.0305C5.8041 13.0219 6.13175 13.983 6.73192 14.7503C7.3321 15.5176 8.16777 16.0438 9.09687 16.2395C8.49338 16.4122 7.85999 16.4374 7.2457 16.313C7.50788 17.1657 8.01798 17.9114 8.70481 18.4462C9.39164 18.981 10.2209 19.2781 11.077 19.2961C9.62369 20.4903 7.82848 21.138 5.98047 21.135C5.65274 21.1344 5.32533 21.1134 5 21.072C6.87738 22.332 9.06128 23.0012 11.2918 23Z" fill="white"/></svg>
							p Twitter
							button Связать
						li
							<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"><g opacity="0.2"><path d="M24.5444 10.9959C24.5444 10.9959 24.3516 9.63481 23.7578 9.03718C23.006 8.25062 22.1655 8.24676 21.7799 8.20049C19.0192 8 14.8744 8 14.8744 8H14.8667C14.8667 8 10.7218 8 7.96116 8.20049C7.57559 8.24676 6.73505 8.25062 5.9832 9.03718C5.38942 9.63481 5.20049 10.9959 5.20049 10.9959C5.20049 10.9959 5 12.596 5 14.1922V15.6882C5 17.2845 5.19664 18.8846 5.19664 18.8846C5.19664 18.8846 5.38942 20.2456 5.97934 20.8432C6.7312 21.6298 7.71825 21.6028 8.1578 21.6876C9.73862 21.838 14.8705 21.8843 14.8705 21.8843C14.8705 21.8843 19.0192 21.8766 21.7799 21.6799C22.1655 21.6337 23.006 21.6298 23.7578 20.8432C24.3516 20.2456 24.5444 18.8846 24.5444 18.8846C24.5444 18.8846 24.741 17.2883 24.741 15.6882V14.1922C24.741 12.596 24.5444 10.9959 24.5444 10.9959ZM12.8309 17.5042V11.9559L18.1633 14.7397L12.8309 17.5042Z" fill="white"/></g></svg>
							p YouTube
							button Связать
						li
							<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"><g opacity="0.2"><path d="M15.0059 6.80113C17.6793 6.80113 17.9959 6.81285 19.0473 6.85974C20.0244 6.90272 20.5521 7.06681 20.9038 7.20356C21.369 7.38328 21.7051 7.60207 22.053 7.9498C22.4047 8.30143 22.6197 8.63352 22.7995 9.09846C22.9363 9.45009 23.1004 9.98144 23.1434 10.9543C23.1903 12.0092 23.2021 12.3257 23.2021 14.9941C23.2021 17.6665 23.1903 17.983 23.1434 19.034C23.1004 20.0107 22.9363 20.5382 22.7995 20.8898C22.6197 21.3548 22.4008 21.6908 22.053 22.0385C21.7012 22.3901 21.369 22.605 20.9038 22.7847C20.5521 22.9215 20.0205 23.0856 19.0473 23.1285C17.992 23.1754 17.6754 23.1871 15.0059 23.1871C12.3324 23.1871 12.0158 23.1754 10.9644 23.1285C9.9873 23.0856 9.45964 22.9215 9.10788 22.7847C8.64276 22.605 8.30662 22.3862 7.95876 22.0385C7.607 21.6869 7.39203 21.3548 7.21223 20.8898C7.07543 20.5382 6.91128 20.0068 6.86828 19.034C6.82138 17.9791 6.80965 17.6626 6.80965 14.9941C6.80965 12.3217 6.82138 12.0053 6.86828 10.9543C6.91128 9.97753 7.07543 9.45009 7.21223 9.09846C7.39203 8.63352 7.6109 8.29752 7.95876 7.9498C8.31053 7.59816 8.64276 7.38328 9.10788 7.20356C9.45964 7.06681 9.99121 6.90272 10.9644 6.85974C12.0158 6.81285 12.3324 6.80113 15.0059 6.80113ZM15.0059 5C12.2894 5 11.9494 5.01172 10.8824 5.05861C9.81923 5.10549 9.08833 5.2774 8.45515 5.52354C7.79461 5.7814 7.23569 6.12131 6.68067 6.68002C6.12175 7.23481 5.78171 7.79351 5.52374 8.44989C5.27751 9.08674 5.10553 9.81344 5.05863 10.8761C5.01173 11.9467 5 12.2866 5 15.002C5 17.7173 5.01173 18.0572 5.05863 19.1239C5.10553 20.1866 5.27751 20.9172 5.52374 21.5501C5.78171 22.2104 6.12175 22.7691 6.68067 23.3239C7.23569 23.8787 7.79461 24.2225 8.45124 24.4765C9.08833 24.7226 9.81532 24.8945 10.8784 24.9414C11.9455 24.9883 12.2855 25 15.002 25C17.7184 25 18.0584 24.9883 19.1255 24.9414C20.1886 24.8945 20.9195 24.7226 21.5527 24.4765C22.2093 24.2225 22.7682 23.8787 23.3232 23.3239C23.8782 22.7691 24.2222 22.2104 24.4763 21.554C24.7225 20.9172 24.8945 20.1905 24.9414 19.1278C24.9883 18.0611 25 17.7212 25 15.0059C25 12.2905 24.9883 11.9506 24.9414 10.884C24.8945 9.82125 24.7225 9.09064 24.4763 8.45771C24.23 7.79351 23.89 7.23481 23.3311 6.68002C22.776 6.12522 22.2171 5.7814 21.5605 5.52745C20.9234 5.2813 20.1964 5.1094 19.1333 5.06251C18.0623 5.01172 17.7223 5 15.0059 5Z" fill="white"/><path d="M15.003 9.86328C12.1654 9.86328 9.86328 12.1645 9.86328 15.001C9.86328 17.8375 12.1654 20.1387 15.003 20.1387C17.8406 20.1387 20.1427 17.8375 20.1427 15.001C20.1427 12.1645 17.8406 9.86328 15.003 9.86328ZM15.003 18.3337C13.1621 18.3337 11.669 16.8412 11.669 15.001C11.669 13.1608 13.1621 11.6683 15.003 11.6683C16.8439 11.6683 18.337 13.1608 18.337 15.001C18.337 16.8412 16.8439 18.3337 15.003 18.3337Z" fill="white"/><path d="M21.5444 9.66086C21.5444 10.3253 21.005 10.8608 20.3445 10.8608C19.68 10.8608 19.1445 10.3214 19.1445 9.66086C19.1445 8.99641 19.6839 8.46094 20.3445 8.46094C21.005 8.46094 21.5444 9.00032 21.5444 9.66086Z" fill="white"/></g></svg>
							p Instagram
							button Связать
				button(type="submit").settings__save Сохранить


	include footer.pug



























	