extends header.pug

block content

	main.main-settings-profile
		.popup.main-settings-profile__pass
			.popup__bgd
			.popup__content
				.content__head
					span Изменить пароль
					<svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
						<g opacity="0.5">
						<path d="M15.5143 13.2734L20.1105 17.8696L18.5785 19.4017L13.9823 14.8055L9.38607 19.4017L7.85401 17.8696L12.4502 13.2734L7.85401 8.67724L9.38607 7.14518L13.9823 11.7414L18.5785 7.14518L20.1105 8.67724L15.5143 13.2734Z" fill="white"/>
						</g>
					</svg>
				.content__body
					label
						p Адрес электронной почты
						input(type="text" placeholder="mail.mail@gmail.com")
					label
						p Новый пароль
						input(type="text" placeholder="Введите новый пароль")
					label
						p Подтверждение нового пароля
						input(type="text" placeholder="Введите новый пароль ещё раз")
					.buttons
						button.popup__button.popup__close Отменить
						button.popup__button.popup__link Сохранить
		.popup.main-settings-profile__mail
			.popup__bgd
			.popup__content
				.content__head
					span Изменить адрес электронной почты
					<svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
						<g opacity="0.5">
						<path d="M15.5143 13.2734L20.1105 17.8696L18.5785 19.4017L13.9823 14.8055L9.38607 19.4017L7.85401 17.8696L12.4502 13.2734L7.85401 8.67724L9.38607 7.14518L13.9823 11.7414L18.5785 7.14518L20.1105 8.67724L15.5143 13.2734Z" fill="white"/>
						</g>
					</svg>
				.content__body
					label
						p Адрес электронной почты
						input(type="text" placeholder="mail.mail@gmail.com")
					label
						p Пароль
						input(type="text" placeholder="Введите пароль")
					p.inf В целях безопасности при изменении адреса электронной почты сохраненные данные о кредитной карте будут удалены.
					.buttons
						button.popup__button.popup__close Отменить
						button.popup__button.popup__link Сохранить
		ul.main-settings__top
			li
				a(href="settings.html") Настройки профиля
			li.li_active
				a(href="settings-profile.html") Учетная запись
			li
				a(href="settings-payments.html") Настройка выплаты
			li
				a(href="settings-instruments.html") Инструменты
		.main-settings-profile__block
			ul.main-settings-profile__menu
				li.li_active
					a(href="settings-profile.html") Безопасность учетной записи
				li
					a(href="settings-notations.html") Настройки уведомлений
				li
					a(href="settings-messages.html") Настройки сообщений
				li
					a(href="settings-close.html") Закрыть учетную запись
			form(action="#").main-settings-profile__rht
				label.mail-lab
					p Адрес электронной почты
					.input
						input(type="email" placeholder="mail.mail@gmail.com")
						.ico
							<svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.00398 18.2193C0.723461 18.2188 0.456046 18.1005 0.266978 17.8933C0.0744233 17.6877 -0.0212578 17.4098 0.00397781 17.1293L0.248978 14.4353L11.567 3.12129L15.104 6.65729L3.78898 17.9703L1.09498 18.2153C1.06398 18.2183 1.03298 18.2193 1.00398 18.2193ZM15.81 5.95029L12.274 2.41429L14.395 0.293287C14.5825 0.10551 14.8371 0 15.1025 0C15.3679 0 15.6224 0.10551 15.81 0.293287L17.931 2.41429C18.1188 2.60185 18.2243 2.85638 18.2243 3.12179C18.2243 3.3872 18.1188 3.64172 17.931 3.82929L15.811 5.94929L15.81 5.95029Z" fill="#9EA0B4"/></svg>
				label.pass-lab
					p Пароль
					.input
						input(type="text" placeholder="••••••")
						.ico
							<svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.00398 18.2193C0.723461 18.2188 0.456046 18.1005 0.266978 17.8933C0.0744233 17.6877 -0.0212578 17.4098 0.00397781 17.1293L0.248978 14.4353L11.567 3.12129L15.104 6.65729L3.78898 17.9703L1.09498 18.2153C1.06398 18.2183 1.03298 18.2193 1.00398 18.2193ZM15.81 5.95029L12.274 2.41429L14.395 0.293287C14.5825 0.10551 14.8371 0 15.1025 0C15.3679 0 15.6224 0.10551 15.81 0.293287L17.931 2.41429C18.1188 2.60185 18.2243 2.85638 18.2243 3.12179C18.2243 3.3872 18.1188 3.64172 17.931 3.82929L15.811 5.94929L15.81 5.95029Z" fill="#9EA0B4"/></svg>
				button(type="submit").settings__save Сохранить




	include footer.pug



























	