extends header.pug

block content

	main.main-settings-notation
		.popup.main-settings-profile__pass
			.popup__bgd
			.popup__content
				.content__head
					span Изменить пароль
					<svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
						<g opacity="0.5">
						<path d="M15.5143 13.2734L20.1105 17.8696L18.5785 19.4017L13.9823 14.8055L9.38607 19.4017L7.85401 17.8696L12.4502 13.2734L7.85401 8.67724L9.38607 7.14518L13.9823 11.7414L18.5785 7.14518L20.1105 8.67724L15.5143 13.2734Z" fill="white"/>
						</g>
					</svg>
				.content__body
					label
						p Адрес электронной почты
						input(type="text" placeholder="mail.mail@gmail.com")
					label
						p Новый пароль
						input(type="text" placeholder="Введите новый пароль")
					label
						p Подтверждение нового пароля
						input(type="text" placeholder="Введите новый пароль ещё раз")
					.buttons
						button.popup__button.popup__close Отменить
						button.popup__button.popup__link Сохранить
		.popup.main-settings-profile__mail
			.popup__bgd
			.popup__content
				.content__head
					span Изменить адрес электронной почты
					<svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
						<g opacity="0.5">
						<path d="M15.5143 13.2734L20.1105 17.8696L18.5785 19.4017L13.9823 14.8055L9.38607 19.4017L7.85401 17.8696L12.4502 13.2734L7.85401 8.67724L9.38607 7.14518L13.9823 11.7414L18.5785 7.14518L20.1105 8.67724L15.5143 13.2734Z" fill="white"/>
						</g>
					</svg>
				.content__body
					label
						p Адрес электронной почты
						input(type="text" placeholder="mail.mail@gmail.com")
					label
						p Пароль
						input(type="text" placeholder="Введите пароль")
					p.inf В целях безопасности при изменении адреса электронной почты сохраненные данные о кредитной карте будут удалены.
					.buttons
						button.popup__button.popup__close Отменить
						button.popup__button.popup__link Сохранить
		ul.main-settings__top
			li
				a(href="settings.html") Настройки профиля
			li.li_active
				a(href="settings-profile.html") Учетная запись
			li
				a(href="settings-payments.html") Настройка выплаты
			li
				a(href="settings-instruments.html") Инструменты
		.main-settings-profile__block
			ul.main-settings-profile__menu
				li
					a(href="settings-profile.html") Безопасность учетной записи
				li.li_active
					a(href="settings-notations.html") Настройки уведомлений
				li
					a(href="settings-messages.html") Настройки сообщений
				li
					a(href="settings-close.html") Закрыть учетную запись
			.main-settings-profile__rht
				.main-settings-notation__block
					h2 Как преподаватель, хочу получать:
					.checkbox-block
						input(type="checkbox")#ch1-1
						label(for="ch1-1") Полезные ресурсы и важные обновления, связанные с вашей деятельностью в качестве преподавателя на CryptoChip.
				.main-settings-notation__block
					h2 Как преподаватель, хочу получать:
					.checkbox-block
						input(type="checkbox" disabled)#ch1-2
						label(for="ch1-2") Промоакции, рекомендации по курсам и полезные ресурсы от CryptoChip. Для того, чтобы их посмотреть, переключитесь в режим стуудента.
					.checkbox-block
						input(type="checkbox")#ch1-3
						label(for="ch1-3") Объявления от преподавателей, на курсы которых я зарегистрирован. Чтобы настроить предпочтения по курсам, оставьте это поле отмеченным флажком, перейдите к панели управления курсом и нажмите “Параметры”, чтобы подписаться или отказаться от получения конкретных объявлений.
				.checkbox-block.checkbox-block_border
					input(type="checkbox" checked)#ch1-4
					label(for="ch1-4") Я не хочу получать рекламные письма. <br />Если это поле отмечено флажком, вы будете продолжать получать важные электронные письма с данными о транзакциях, например платежные квитанции.
				button(type="submit").settings__save Сохранить





	include footer.pug



























	