extends header.pug

block content

	main.main-statistics-reviews
		ul.main-statistics__top
			li
				a(href="statistics.html") Отчеты
			li
				a(href="statisics-students.html") Студенты
			li.li_active
				a(href="statistics-reviews.html") Отзывы
			li
				a(href="#") Трафик
		.main-statistics-reviews__top
			.top__checkbox
				input(type="checkbox")#ch1
				label(for="ch1") Есть ответы
			.top__checkbox
				input(type="checkbox")#ch2
				label(for="ch2") Есть комментарии
			.top__data
				span Дата:
				p.p_active сначала новые
				p сначала старые
			.top__select.select
				.select__head
					span Последние 12 месяцев
					<svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.9167 0.995183L5.96074 5.95592L1 1" stroke="#A5E7E3" stroke-linecap="round" stroke-linejoin="round"/></svg>
				ul.select__body
					li Последние 6 месяцев
					li Последние 100 месяцев
					li Последние год
		.main-statistics-reviews__block
			.table
				.table__head
					.row
						.col.col-data Дата
						.col.col-student Студент
						.col.col-course Курс
						.col.col-review Отзыв
				.table__body
					.row
						.col.col-data 18.10.21
						.col.col-student
							img(src="img/st1.jpg" alt="Photo")
							span Артём Яшин
						.col.col-course Introduction to Data Science and Machine Learning
						.col.col-review Introduction to Data Science and Machine Learning
					.row
						.col.col-data 18.10.21
						.col.col-student
							img(src="img/st1.jpg" alt="Photo")
							span Артём Яшин
						.col.col-course Introduction to Data Science and Machine Learning
						.col.col-review Introduction to Data Science and Machine Learning
					.row
						.col.col-data 18.10.21
						.col.col-student
							img(src="img/st1.jpg" alt="Photo")
							span Артём Яшин
						.col.col-course Introduction to Data Science and Machine Learning
						.col.col-review Introduction to Data Science and Machine Learning
					.row
						.col.col-data 18.10.21
						.col.col-student
							img(src="img/st1.jpg" alt="Photo")
							span Артём Яшин
						.col.col-course Introduction to Data Science and Machine Learning
						.col.col-review Introduction to Data Science and Machine Learning
					.row
						.col.col-data 18.10.21
						.col.col-student
							img(src="img/st1.jpg" alt="Photo")
							span Артём Яшин
						.col.col-course Introduction to Data Science and Machine Learning
						.col.col-review Introduction to Data Science and Machine Learning
					.row
						.col.col-data 18.10.21
						.col.col-student
							img(src="img/st1.jpg" alt="Photo")
							span Артём Яшин
						.col.col-course Introduction to Data Science and Machine Learning
						.col.col-review Introduction to Data Science and Machine Learning
					.row
						.col.col-data 18.10.21
						.col.col-student
							img(src="img/st1.jpg" alt="Photo")
							span Артём Яшин
						.col.col-course Introduction to Data Science and Machine Learning
						.col.col-review Introduction to Data Science and Machine Learning
					.row
						.col.col-data 18.10.21
						.col.col-student
							img(src="img/st1.jpg" alt="Photo")
							span Артём Яшин
						.col.col-course Introduction to Data Science and Machine Learning
						.col.col-review Introduction to Data Science and Machine Learning
					.row
						.col.col-data 18.10.21
						.col.col-student
							img(src="img/st1.jpg" alt="Photo")
							span Артём Яшин
						.col.col-course Introduction to Data Science and Machine Learning
						.col.col-review Introduction to Data Science and Machine Learning
					.row
						.col.col-data 18.10.21
						.col.col-student
							img(src="img/st1.jpg" alt="Photo")
							span Артём Яшин
						.col.col-course Introduction to Data Science and Machine Learning
						.col.col-review Introduction to Data Science and Machine Learning
					.row
						.col.col-data 18.10.21
						.col.col-student
							img(src="img/st1.jpg" alt="Photo")
							span Артём Яшин
						.col.col-course Introduction to Data Science and Machine Learning
						.col.col-review Introduction to Data Science and Machine Learning
					.row
						.col.col-data 18.10.21
						.col.col-student
							img(src="img/st1.jpg" alt="Photo")
							span Артём Яшин
						.col.col-course Introduction to Data Science and Machine Learning
						.col.col-review Introduction to Data Science and Machine Learning
					.row
						.col.col-data 18.10.21
						.col.col-student
							img(src="img/st1.jpg" alt="Photo")
							span Артём Яшин
						.col.col-course Introduction to Data Science and Machine Learning
						.col.col-review Introduction to Data Science and Machine Learning
					.row
						.col.col-data 18.10.21
						.col.col-student
							img(src="img/st1.jpg" alt="Photo")
							span Артём Яшин
						.col.col-course Introduction to Data Science and Machine Learning
						.col.col-review Introduction to Data Science and Machine Learning


			
	include footer.pug



























	