extends header.pug

block content

	main.main-support
		h1 How can we help you?
		form
			input(type="text" placeholder="Write a question or problem")
		h2.quest Popular questions
		.main-support__questions
			.questions__item
				.item__head
					span Who are our users?
					<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M16.1719 13.8281V0H13.8281V13.8281H0V16.1719H13.8281V30H16.1719V16.1719H30V13.8281H16.1719Z" fill="#4491FF"/>
					</svg>
				.item__body
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			.questions__item
				.item__head
					span What does the platform specialize in?
					<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M16.1719 13.8281V0H13.8281V13.8281H0V16.1719H13.8281V30H16.1719V16.1719H30V13.8281H16.1719Z" fill="#4491FF"/>
					</svg>
				.item__body
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			.questions__item
				.item__head
					span How can I buy a course?
					<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M16.1719 13.8281V0H13.8281V13.8281H0V16.1719H13.8281V30H16.1719V16.1719H30V13.8281H16.1719Z" fill="#4491FF"/>
					</svg>
				.item__body
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			.questions__item
				.item__head
					span How can I earn money with Cryptochip app?
					<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M16.1719 13.8281V0H13.8281V13.8281H0V16.1719H13.8281V30H16.1719V16.1719H30V13.8281H16.1719Z" fill="#4491FF"/>
					</svg>
				.item__body
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			.questions__item
				.item__head
					span How can I invest in Cryptochip?
					<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M16.1719 13.8281V0H13.8281V13.8281H0V16.1719H13.8281V30H16.1719V16.1719H30V13.8281H16.1719Z" fill="#4491FF"/>
					</svg>
				.item__body
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			.questions__item
				.item__head
					span How to see your news?
					<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M16.1719 13.8281V0H13.8281V13.8281H0V16.1719H13.8281V30H16.1719V16.1719H30V13.8281H16.1719Z" fill="#4491FF"/>
					</svg>
				.item__body
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		.main-support__community
			.lft
				h2 Сообщество преподавателей
				p Делитесь своими успехами и задавайте вопросы другим преподавателям в нашем сообществе.
			a(href="#")
				span Вступить
				<svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M9.4174 14.4995L9.0204 20.6418C9.58841 20.6418 9.83441 20.3734 10.1294 20.0511L12.7925 17.2517L18.3106 21.6967C19.3226 22.3171 20.0357 21.9904 20.3087 20.6726L23.9308 2.00354L23.9318 2.00244C24.2528 0.356844 23.3907 -0.286652 22.4047 0.117045L1.1142 9.0831C-0.33883 9.7035 -0.31683 10.5945 0.867199 10.9982L6.31033 12.8605L18.9536 4.15842C19.5486 3.72503 20.0897 3.96483 19.6446 4.39822L9.4174 14.4995Z" fill="#4491FF"/>
				</svg>
		h2 Select a topic to search for help
		.main-support__help
			.help__item
				.item__head
					.lft
						.title Instructor Payments
						p Understand the revenue share and how to receive payments.
					<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path opacity="0.1" d="M11.8594 10.1406V0H10.1406V10.1406H0V11.8594H10.1406V22H11.8594V11.8594H22V10.1406H11.8594Z" fill="white"/>
					</svg>
			.help__item
				.item__head
					.lft
						.title Selling & Promotion
						p Learn about the announcement and promotional tools.
					<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path opacity="0.1" d="M11.8594 10.1406V0H10.1406V10.1406H0V11.8594H10.1406V22H11.8594V11.8594H22V10.1406H11.8594Z" fill="white"/>
					</svg>
			.help__item
				.item__head
					.lft
						.title Quality Standards
						p Learn what it takes to create a high quality course.
					<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path opacity="0.1" d="M11.8594 10.1406V0H10.1406V10.1406H0V11.8594H10.1406V22H11.8594V11.8594H22V10.1406H11.8594Z" fill="white"/>
					</svg>
			.help__item
				.item__head
					.lft
						.title Course Building
						p Build your course curriculum and landing page.
					<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path opacity="0.1" d="M11.8594 10.1406V0H10.1406V10.1406H0V11.8594H10.1406V22H11.8594V11.8594H22V10.1406H11.8594Z" fill="white"/>
					</svg>
			.help__item
				.item__head
					.lft
						.title Course Management
						p Maintain your course and engage with students.
					<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path opacity="0.1" d="M11.8594 10.1406V0H10.1406V10.1406H0V11.8594H10.1406V22H11.8594V11.8594H22V10.1406H11.8594Z" fill="white"/>
					</svg>
			.help__item
				.item__head
					.lft
						.title Trust & Safety
						p Policy and copyright questions and guidance.
					<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path opacity="0.1" d="M11.8594 10.1406V0H10.1406V10.1406H0V11.8594H10.1406V22H11.8594V11.8594H22V10.1406H11.8594Z" fill="white"/>
					</svg>

	include footer.pug



























	