extends header.pug

block content

	main.main-tasks
		h2 Задания
		.main-tasks__item
			.item__type Курс
			.item__name Introduction to Data Science and Machine Learning 
			.item__new
				span Новых:
				b 16
			a(href="task-block.html").item__link Перейти
		.main-tasks__item
			.item__type Курс
			.item__name Introduction to Data Science and Machine Learning  2
			.item__new
				span Новых:
				b 16
			a(href="task-block.html").item__link Перейти
		.main-tasks__item
			.item__type Курс
			.item__name Introduction to Data Science and Machine Learning 
			.item__new
				span Новых:
				b 16
			a(href="task-block.html").item__link Перейти
		.main-tasks__item
			.item__type Курс
			.item__name Introduction to Data Science and Machine Learning 
			.item__new
				span Новых:
				b 16
			a(href="task-block.html").item__link Перейти
		.main-tasks__item
			.item__type Курс
			.item__name Introduction to Data Science and Machine Learning 
			.item__new
				span Новых:
				b 16
			a(href="task-block.html").item__link Перейти

							
		


	include footer.pug



























	